<head>
  <link rel="stylesheet" media="screen">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</head>
<body>
  <!-- all your great html... -->
<!--  <div class="gallery js-flickity">-->
<!--    <div class="gallery-cell">-->
<!--        <img class="carousel-cell-image" data-flickity-lazyload="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/shore.jpg" alt="sea"/>-->
<!--    </div>-->
<!--    <div class="gallery-cell">-->
<!--        <img class="carousel-cell-image" data-flickity-lazyload="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/leaf-droplets.jpg" alt="leaf droplets" />-->
<!--    </div>-->
<!--    <div class="gallery-cell"></div>-->
<!--    <div class="gallery-cell"></div>-->
<!--    <div class="gallery-cell"></div>-->
<!--  </div>-->
<!--</body>-->


<!-- Flickity HTML init -->
<div class="carousel"
  data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
</div>

</body>