@use cssnext;

/* helpers/align.css */

@use cssnext;
@import "bootstrap";


#map{
    padding-top:0px;
    height: 100%;
    width: 100%;
    //margin-bottom:5%;
}

html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

body {    
    margin: 0px !important;
    padding: 0 !important;
}

* { 
    margin: 0;
    padding: 0;
}



@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#map{
    margin:0;
    padding:0;
    height: 98%;
    width: 100%;
}

