@use cssnext;

/* helpers/align.css */

@use cssnext;
@import "bootstrap";


#map{
    padding-top:0px;
    height: 100%;
    width: 100%;
    //margin-bottom:5%;
}

html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

body {    
    margin: 0px !important;
    padding: 0 !important;
}

* { 
    margin: 0;
    padding: 0;
}



@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#map{
    margin:0;
    padding:0;
    height: 98%;
    width: 100%;
}


#help, #help2{
    background-color:white;
    width:300px;
    height:100%;
    display:none;
    position:fixed;
    top:50px;
    right:0%;
    margin:0 0 0 0;
}

.table {
  border-collapse:separate;
  border-radius:36px;
}

.table th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.table th:first-child {
  border-top-left-radius:3px;
}
 
.table th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
.table tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.table tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

.table th,td {
    width: 50%;
}

.table tr:first-child {
  border-top:none;
}

.table tr:last-child {
  border-bottom:none;
}
 
.table tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
.table tr:nth-child(odd):hover td {
  background:#4E5066;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.table tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.table td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.table td:last-child {
  border-right: 0px;
}