@import "bootstrap";
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
   height: 80%;
}

.carousel img {
  display: block;
//   height: 400px;
  height: 100%;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    // height: 800px;
    height: 100%;
  }
}

html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}


.customize {
  height: 20% !important;
  margin-bottom: 0 !important;
}


.btn-lg{
  margin-top: 10%;
  // height: 80px !important;
  vertical-align: middle !important;
  display: table-cell;
}

#customized-btn {
   padding: 40px; 
   font-size: 45px;
}
