!!!

= include_gon

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      #map {
       height: 400px;
       width: 100%;
      }
  %body
    %h3 My Google Maps Demo
    %h3 Search:
    = form_tag '/explore/search' do
      = text_field_tag 'search'
      = submit_tag 'Search'
    #map
    :javascript
      $('#search_result').reset();
      function initMap() {
        var birds = [];
        for (var i = 0; i < gon.birds.length; i++) {
          bird = gon.birds[i];
          birds.push({lat: bird.locationX, lng: bird.locationY});
        }
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: birds[0]
        });
        for (var i = 0; i < birds.length; i++) {
          pin = birds[i];
          var marker = new google.maps.Marker({
            position: pin,
            map: map
          });
        }
      }
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAZAXAHxRrKlhRSya8IoRc2goYTuUi3ISE&callback=initMap"}
      :cdata

%input{:type =>"hidden", :value =>@birds, :id => "search_result"}
