!!!

= include_gon

%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Search
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}/
    
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}/
    / Optional theme
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", :integrity => "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  %body
    // = link_to("Log out", {:action => "logout"}, {:id => "Log out"})
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.hidden-xs{:href => "#"} BirdGo
          %a.navbar-brand.visible-xs{:href => "#"} BirdGo
          %form.navbar-form.pull-left{:role => "search"}
            .input-group
              %input.form-control{:name => "search", :placeholder => "Search", :type => "text"}/
              .input-group-btn
                %button.btn.btn-default{:id => "search", :type => "submit"}
                  %span.glyphicon.glyphicon-search
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li.active
              %a{:href => "#"} Explore
            %li
              %a{:href => "#"} Profile
            %li
              %a{:href => "#"} Wish List
            %li
              %a{:href => "#"} Observed
            %li
              %a{:href => "/explore/logout"} Log Out
  
    #map
    - if flash[:alert] != ""
      %h3= flash[:alert]
    %body{:onload => "initGeolocation();"}
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAZAXAHxRrKlhRSya8IoRc2goYTuUi3ISE&callback=initMap"}
      :cdata
:javascript
  $(document).ready(function() {
    $('.navbar-form.pull-left').on('submit', function(e) {
        // var data = $("#login_form :input").serializeArray();
        input = $('.form__input').val()
        return false;
    });
  });
%input{:type =>"hidden", :value =>@birds, :id => "search_result"}

// reference: https://css-tricks.com/functional-css-tabs-revisited/